:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.error_text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 2vh;
}
