<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row justify-content-center">
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <img src="../assets/images/DepartmentEducationLogo.png ">
            <h5 class="text-muted font-weight-normal mb-4 text-center">Voter Verification</h5>
            <p class="text-center">We have detected that you have two or more children linked to you in more than one
              school. Please indicate the school at which the elections are taking place below</p>
            <br>
            <form class="forms-sample">
              <div class="form-group">
                <label for="exampleInputEmail1">School Name</label>
                <select class="form-control mb-3" placeholder="Please select">
                  <option value="" selected hidden>Please select</option>
                  <option value="1">Lefofa Primary School</option>
                  <option value="2">P.H.L Moraka Secondary School</option>
                  <option value="3">Mosaledi Primary School</option>
                  <option value="3">St. Camilus Primary School</option>
                </select>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-4">
                  <button (click)="selectSchool()" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-4">
                  <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
