<h4 class="card-title text-primary">Elections</h4>

<div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-5 col-md-3">
                  <ul ngbNav #verticalNav="ngbNav" class="nav-tabs nav-tabs-vertical">
                    <li [ngbNavItem]="1">
                      <a ngbNavLink>Overview</a>
                      <ng-template ngbNavContent>
                        <h6 class="mb-2">Overview</h6>
                        
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                      <a ngbNavLink>Nominees</a>
                      <ng-template ngbNavContent>
                        <h6 class="mb-2">Nominees</h6>
                        <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                          farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                          ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                      <a ngbNavLink>Voters Roll</a>
                      <ng-template ngbNavContent>
                        <h6 class="mb-2">Voters Roll</h6>
                        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                          Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                          Duis pharetra et nisl at faucibus.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                      <a ngbNavLink class="mb3">results</a>
                      <ng-template ngbNavContent>
                        <h6 class="mb-2">results</h6>
                        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                      </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                        <a ngbNavLink class="mb3">Communication</a>
                        <ng-template ngbNavContent>
                          <h6 class="mb-2">Communication</h6>
                          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                        </ng-template>
                      </li>
                      <li [ngbNavItem]="6">
                        <a ngbNavLink class="mb3">Queries</a>
                        <ng-template ngbNavContent>
                          <h6 class="mb-2">Queries</h6>
                          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                        </ng-template>
                      </li>
                      <li [ngbNavItem]="7">
                        <a ngbNavLink class="mb3">Disputes</a>
                        <ng-template ngbNavContent>
                          <h6 class="mb-2">Disputes</h6>
                          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                        </ng-template>
                      </li>
                      <li [ngbNavItem]="8">
                        <a ngbNavLink class="mb3">Observer Feedback</a>
                        <ng-template ngbNavContent>
                          <h6 class="mb-2">Observer Feedback</h6>
                          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                        </ng-template>
                      </li>
                  </ul>
                </div>
                <div class="col-7 col-md-9">
                  <div [ngbNavOutlet]="verticalNav" class="tab-content-vertical border p-3"></div>
                </div>
              </div>
        </div>
     </div>
   </div>
</div>