<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row justify-content-center">
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <img src="../assets/images/DepartmentEducationLogo.png " >
            <h5 class="text-muted font-weight-normal mb-4 text-center">Log in to your account.</h5>
            <form class="forms-sample">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="admin@demo.com">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <a class="float-right"><label for="exampleInputPassword1">Forgot Password</label></a>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="Password" value="12345678">
              </div>
              <div class="row">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary" (click)="onLoggedin($event)">Login</button>   
                </div>  
                <div class="col-4">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    <i class="input-frame"></i>
                    Remember me
                  </label>
                </div> 
                
              </div>   
              <a routerLink="#" class="d-block mt-3 btn btn-primary text-light">Not a user? Sign up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>