<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/elections">Elections</a></li>
    <li class="breadcrumb-item active" aria-current="page">Overview</li>
  </ol>
</nav>

<h4 class="card-title text-primary">Elections fgfgsd</h4>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-3">
            <ul ngbNav #verticalNav="ngbNav" class="nav-tabs nav-tabs-vertical">
              <!--- Logo -->
    <a routerLink="/" class="sidebar-brand">
      <img src="../assets/images/DepartmentEducationLogo.png " >
    </a>
              <li [ngbNavItem]="1">
                <a ngbNavLink>Overview</a>
                <ng-template ngbNavContent>
                  <h6 class="mb-2">Overview</h6>
                  <div class="table-responsive">
                    <table id="dataTableExample" class="table">
                      <thead>
                        <tr>
                          <th>School Name</th>
                          <th>Election Date</th>
                          <th>Transaction Date & Time</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Tiger Nixon</td>
                          <td>2011/04/25</td>
                          <td>2011/04/25</td>
                          <td><a routerLink="." routerLinkActive="active"><i class="mdi mdi-eye text-dark"></i></a>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col-12 col-xl-12 stretch-card">
                      <div class="row flex-grow">
                        <div class="col-md-4 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <!-- <div class="d-flex justify-content-between align-items-baseline"> -->

                              <!--mdi mdi-calendar-plus   mdi mdi-calendar-check   mdi mdi-calendar-blank   mdi mdi-marker-check calender_today date_range  how_to_vote  download_done   assignment_turned_in-->
                              <!-- </div> -->

                              <div class="row">
                                <div class="col-4 col-md-6 col-xl-5">
                                  <i class="text-primary icon" data-feather="check-square" appFeatherIcon></i>
                                </div>
                                <div class="col-8 col-md-6 col-xl-7 float-right">
                                  <h3 class="d-flex justify-content-end">5</h3>
                                  <h6 class="card-title mb-0 d-flex justify-content-end">Nominees</h6>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <!-- <div class="d-flex justify-content-between align-items-baseline"> -->

                              <!--mdi mdi-calendar-plus   mdi mdi-calendar-check   mdi mdi-calendar-blank   mdi mdi-marker-check calender_today date_range  how_to_vote  download_done   assignment_turned_in-->
                              <!-- </div> -->

                              <div class="row">
                                <div class="col-4 col-md-6 col-xl-5">
                                  <i class="text-primary icon" data-feather="calendar" appFeatherIcon></i>
                                </div>
                                <div class="col-8 col-md-6 col-xl-7 float-right">
                                  <h3 class="d-flex justify-content-end">3</h3>
                                  <h6 class="card-title mb-0 d-flex justify-content-end">Voters</h6>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <!-- <div class="d-flex justify-content-between align-items-baseline"> -->

                              <!--mdi mdi-calendar-plus   mdi mdi-calendar-check   mdi mdi-calendar-blank   mdi mdi-marker-check calender_today date_range  how_to_vote  download_done   assignment_turned_in-->
                              <!-- </div> -->

                              <div class="row">
                                <div class="col-4 col-md-6 col-xl-5">
                                  <i class="text-primary icon" data-feather="check" appFeatherIcon></i>
                                </div>
                                <div class="col-8 col-md-6 col-xl-7 float-right">
                                  <h3 class="d-flex justify-content-end">1</h3>
                                  <h6 class="card-title mb-0 d-flex justify-content-end">Voters Cast</h6>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-xl-12 stretch-card">
                      <div class="row flex-grow">
                        <div class="col-md-4 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <div class="row center justify-content-center">
                                <h6>Top 5 Nominees</h6>
                                <br>
                                <ul class="list-group">
                                  <li class="list-group-item">Dikeledi Letsoalo 0%</li>
                                  <li class="list-group-item">Dikeledi Letsoalo 0%</li>
                                  <li class="list-group-item">Dikeledi Letsoalo 0%</li>
                                  <li class="list-group-item">Dikeledi Letsoalo 0%</li>
                                  <li class="list-group-item">Dikeledi Letsoalo 0%</li>
                                </ul>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>Nominees</a>
                <ng-template ngbNavContent>
                  <h6 class="mb-2">Nominees</h6>
                  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>I.D/Passport</th>
                        <th>School Name</th>
                        <th>Cellphone Number</th>
                        <th>Action</th>

                      </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let nomination of nominations">
                           <td>{{nomination.firstName}}  {{nomination.lastName}}</td>
                           <td>{{nomination.idNumber}}</td>
                           <td>{{nomination.institutionName}}</td>
                           <td>{{nomination.mobileNo}}</td>
                           <td>
                              <a><i class="mdi mdi-eye" ></i></a>
                              &nbsp;&nbsp;
                              <a><i class="mdi mdi-pencil text-dark"  (click)="editNomination(nomination)"  (click)="openBasicModal(basicModal)"></i></a>
                            </td>
                       </tr>
                    </tbody>
                  </table>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink>Voters Roll</a>
                <ng-template ngbNavContent>
                  <h6 class="mb-2">Voters Roll</h6>
                  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>I.D/Passport</th>
                        <th>School Name</th>
                        <th>Cellphone Number</th>
                        <th>Action</th>

                      </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let voteroll of data">
                           <td>{{voteroll.firstName}}  {{voteroll.lastName}}</td>
                           <td>{{voteroll.idNumber}}</td>
                           <td>{{voteroll.institutionName}}</td>
                           <td>{{voteroll.mobileNo}}</td>
                           <td>
                              <a><i class="mdi mdi-eye" ></i></a>
                              &nbsp;&nbsp;
                              <a><i class="mdi mdi-pencil text-dark" (click)="editVottersRoll(voteroll)"  (click)="openBasicModal(vorterall)"></i></a>
                            </td>
                       </tr>
                    </tbody>
                  </table>
                </ng-template>
              </li>
              <li [ngbNavItem]="4">
                <a ngbNavLink class="mb3">results</a>
                <ng-template ngbNavContent>
                  <h6 class="mb-2">results</h6>
                  <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                </ng-template>
              </li>
              <li [ngbNavItem]="5">
                <a ngbNavLink class="mb3">Communication</a>
                <ng-template ngbNavContent>
                  <h6 class="mb-2">Communication</h6>
                  <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                </ng-template>
              </li>
              <li [ngbNavItem]="6">
                <a ngbNavLink class="mb3">FAQ</a>
                <ng-template ngbNavContent>
                  <h6 class="mb-2">Frequently Asked Questions</h6>

                  <div class="row">
                    <!-- <div class="col-10">

                      <quill-editor [(ngModel)]="htmlText" placeholder="Enter Text" [modules]="quillConfig"
                        (onSelectionChanged)="onSelectionChanged($event)" (onContentChanged)="onContentChanged($event)">
                      </quill-editor>
                    </div> -->

                    <div class="col-md-12">

                      <br/>
                      <div class="form-group col-10 ml-auto mr-auto">
                        <label for="exampleFormControlTextarea1"><b>Question </b></label>
                        <textarea class="form-control" id="question" placeholder="Type here" rows="5"></textarea>
                        <br/>
                        <div class="row">
                          <button type="button" class="btn btn-primary submit ml-auto mr-auto">Submit</button>
                        </div>
                      </div>

                      <ngb-accordion class="col-12" class="title_tab" [closeOthers]="true">
                        <ngb-panel id="faq1" class="title_tab" title="Why is the moon sometimes out during the day?">
                          <ng-template ngbPanelContent>
                            <b>Answer: </b>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                            squid single-origin coffee nulla assumenda shoreditch et.


                            <br/>
                          <div class="form-group">
                            <textarea class="form-control" id="answer" placeholder="Type here" rows="5"></textarea>
                            <br/>
                            <div class="row">
                              <button type="button" class="btn btn-primary submit"><span class="mdi mdi-reply"> </span> Answer</button>
                              &nbsp;&nbsp;&nbsp;
                              <button type="button" class="btn btn-primary submit"><span class="mdi mdi-upload"></span> Escalate</button>
                            </div>
                          </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="faq2" class="title_tab" title="Why is the sky blue?">
                          <ng-template ngbPanelContent>
                            <b>Answer: </b>

                            <br/>
                          <div class="form-group">
                            <textarea class="form-control" id="answer" placeholder="Type here" rows="5"></textarea>
                            <br/>
                            <div class="row">
                              <button type="button" class="btn btn-primary submit"><span class="mdi mdi-reply"> </span> Answer</button>
                              &nbsp;&nbsp;&nbsp;
                              <button type="button" class="btn btn-primary submit"><span class="mdi mdi-upload"></span> Escalate</button>
                            </div>
                          </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="faq3" class="title_tab" title="Will we ever discover aliens?">
                          <ng-template ngbPanelContent>
                            <b>Answer: </b>


                            <br/>
                          <div class="form-group">
                            <textarea class="form-control" id="answer" placeholder="Type here" rows="5"></textarea>
                            <br/>
                            <div class="row">
                              <button type="button" class="btn btn-primary submit"><span class="mdi mdi-reply"> </span> Answer</button>
                              &nbsp;&nbsp;&nbsp;
                              <button type="button" class="btn btn-primary submit"><span class="mdi mdi-upload"></span> Escalate</button>
                            </div>
                          </div>
                          </ng-template>

                        </ngb-panel>
                      </ngb-accordion>
                    </div>
                  </div>

                </ng-template>
              </li>
              <li [ngbNavItem]="7">
                <a ngbNavLink class="mb3">Disputes</a>
                <ng-template ngbNavContent>
                  <h6 class="mb-2">Disputes</h6>
                  <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                </ng-template>
              </li>
              <li [ngbNavItem]="8">
                <a ngbNavLink class="mb3">Observer Feedback</a>
                <ng-template ngbNavContent>
                  <h6 class="mb-2">Observer Feedback</h6>
                  <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.</p>
                </ng-template>
              </li>
            </ul>
          </div>
          <div class="col-7 col-md-9">
            <div [ngbNavOutlet]="verticalNav" class="tab-content-vertical border p-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        <!-- Modal -->
        <ng-template #basicModal let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Nomination</h5>
  
          </div>
          <div class="modal-body">
            <form [formGroup]="nomineeEditForm" (ngSubmit)="onSubmitNominee()">
              <div class="form-group">
                <label for="nominationName">First Name</label>
                <input type="text" formControlName="firstNameNominee" class="form-control" id="nominationName" placeholder="{{nominee.firstName}} ">
              </div>
              <div class="form-group"> 
                <label for="nominationSurname">Last Name</label>
                <input type="text" formControlName="lastNameNominee" class="form-control" id="nominationSurname" placeholder="{{nominee.lastName}} ">
              </div>
              <div class="form-group">
                <label for="nominationSurname">Institution Name</label>
                <input type="text" formControlName="institutionNameNominee" class="form-control" id="nominationInstitutionName" placeholder="{{nominee.institutionName}} ">
              </div>
              <div class="form-group">
                <label for="NomineeIdNumber">ID Number</label>
                <input type="text" formControlName="idNumberNominee" class="form-control" id="NomineeIdNumber" placeholder="{{nominee.idNumber}} ">
              </div>
              <div class="form-group">
                <label for="NomineeMobileNo">Mobile Number</label>
                <input type="text" formControlName="mobileNonNominee" class="form-control" id="NomineeMobileNo" placeholder="{{nominee.mobileNo}} ">
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
          
        </ng-template>
        <!-- Close result -->
        <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>

         <!-- Modal -->
         <ng-template #vorterall let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Nomination</h5>
  
          </div>
          <div class="modal-body">
            <form [formGroup]="votersRollEditForm" (ngSubmit)="onSubmitVotersRoll()">
              <div class="form-group">
                <label for="firstNameVottersRoll">First Name</label>
                <input type="text" formControlName="firstNameVottersRoll" class="form-control" id="firstNameVottersRoll" placeholder="{{votersRoll.firstName}} ">
              </div>
              <div class="form-group"> 
                <label for="nominationSurname">Last Name</label>
                <input type="text" formControlName="lastNameVottersRoll" class="form-control" id="nominationSurname" placeholder="{{votersRoll.lastName}} ">
              </div>
              <div class="form-group">
                <label for="nominationSurname">Institution Name</label>
                <input type="text" formControlName="institutionVottersRoll" class="form-control" id="nominationInstitutionName" placeholder="{{votersRoll.institutionName}} ">
              </div>
              <div class="form-group">
                <label for="NomineeIdNumber">ID Number</label>
                <input type="text" formControlName="idNumberVottersRoll" class="form-control" id="NomineeIdNumber" placeholder="{{votersRoll.idNumber}} ">
              </div>
              <div class="form-group">
                <label for="NomineeMobileNo">Mobile Number</label>
                <input type="text" formControlName="mobileNonVottersRoll" class="form-control" id="NomineeMobileNo" placeholder="{{votersRoll.mobileNo}} ">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>
        <!-- Close result -->
        <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>