

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
          <thead>
            <tr>
              <th>Name</th>
              <th>I.D/Passport</th>
              <th>School Name</th>
              <th>Cellphone Number</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let nomination of votersRoll">
                 <td>{{nomination.firstName}}  {{nomination.lastName}}</td>
                 <td>{{nomination.idNumber}}</td>
                 <td>{{nomination.institutionName}}</td>
                 <td>{{nomination.mobileNo}}</td>
                 <td>
                    <a><i class="mdi mdi-pencil text-dark"  (click)="editNomination(nomination)"  (click)="openBasicModal(basicModal)"></i></a>
                  </td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<ng-template #basicModal let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Nomination</h5>
  
          </div>
          <div class="modal-body">
            <form [formGroup]="nomineeEditForm" (ngSubmit)="onSubmitNominee()">
              <div class="form-group">
                <label for="nominationName">First Name</label>
                <input type="text" formControlName="firstNameNominee" class="form-control" id="nominationName" placeholder="{{nominee.firstName}} ">
              </div>
              <div class="form-group"> 
                <label for="nominationSurname">Last Name</label>
                <input type="text" formControlName="lastNameNominee" class="form-control" id="nominationSurname" placeholder="{{nominee.lastName}} ">
              </div>
              <div class="form-group">
                <label for="nominationSurname">Institution Name</label>
                <input type="text" formControlName="institutionNameNominee" class="form-control" id="nominationInstitutionName" placeholder="{{nominee.institutionName}} ">
              </div>
              <div class="form-group">
                <label for="NomineeIdNumber">ID Number</label>
                <input type="text" formControlName="idNumberNominee" class="form-control" id="NomineeIdNumber" placeholder="{{nominee.idNumber}} ">
              </div>
              <div class="form-group">
                <label for="NomineeMobileNo">Mobile Number</label>
                <input type="text" formControlName="mobileNonNominee" class="form-control" id="NomineeMobileNo" placeholder="{{nominee.mobileNo}} ">
              </div>
              <div class="form-check">
                
                <input type="checkbox" formControlName="mobileBlackListed" [value]="nominee.blackListed" class="form-check-input" id="NomineeBlackListed" placeholder="{{nominee.blackListed}} ">
                <label for="NomineeBlackListed">Is BlackListed</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close('')">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
          
        </ng-template>
        <!-- Close result -->
        <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>

         <!-- Modal -->
         <ng-template #vorterall let-modal>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Nomination</h5>
  
          </div>
          <div class="modal-body">
            <form [formGroup]="votersRollEditForm" (ngSubmit)="onSubmitVotersRoll()">
              <div class="form-group">
                <label for="firstNameVottersRoll">First Name</label>
                <input type="text" formControlName="firstNameVottersRoll" class="form-control" id="firstNameVottersRoll" placeholder="{{votersRoll.firstName}} ">
              </div>
              <div class="form-group"> 
                <label for="nominationSurname">Last Name</label>
                <input type="text" formControlName="lastNameVottersRoll" class="form-control" id="nominationSurname" placeholder="{{votersRoll.lastName}} ">
              </div>
              <div class="form-group">
                <label for="nominationSurname">Institution Name</label>
                <input type="text" formControlName="institutionVottersRoll" class="form-control" id="nominationInstitutionName" placeholder="{{votersRoll.institutionName}} ">
              </div>
              <div class="form-group">
                <label for="NomineeIdNumber">ID Number</label>
                <input type="text" formControlName="idNumberVottersRoll" class="form-control" id="NomineeIdNumber" placeholder="{{votersRoll.idNumber}} ">
              </div>
              <div class="form-group">
                <label for="NomineeMobileNo">Mobile Number</label>
                <input type="text" formControlName="mobileNonVottersRoll" class="form-control" id="NomineeMobileNo" placeholder="{{votersRoll.mobileNo}} ">
              </div>
              <div class="form-check">
                
                <input type="checkbox" formControlName="mobileBlackListed" checked={{votersRoll.blackListed}} class="form-check-input" id="NomineeBlackListed" placeholder="{{nominee.blackListed}} ">
                <label for="NomineeBlackListed">BlackListed</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('')">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitNominee()">Save changes</button>
          </div>
        </ng-template>
        <!-- Close result -->
        <p *ngIf="basicModalCloseResult != ''" class="mt-2">{{basicModalCloseResult}}</p>