<div class="container-fluid bg-white ">
    <div class="row">
        <div class="col-md-12"> 
            <img src="../assets/images/DepartmentEducationLogo.png " class="float-left bg-white" styek>        
            <ul class="nav float-right bg-white mt-2">
                <li class="nav-item">
                  <a href="#" class="nav-link blue">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" (click)="principallogin()">Principal Login</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" (click)="parentlogin()">Parent Login</a>
                </li>
                <li class="nav-item">
                    <button  type="button" class="btn btn-primary ml-1" (click)="login()">LOGIN</button>
                </li>
              </ul> 
        </div>
    </div>
    <div class="row justify-content-center backgroundImage">
        <div class="container-flex">
            
        </div>
    </div>
    <section class="bg-accent bg-position-center bg-size-cover py-3 py-sm-5" style="background-image: url(../assets/images/homepage/img-hero-1-dark.png); background-size: cover; background-position: center">
        <div class="container-py-5">
            <div class="row pt-md-5 pb-lg-5 justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10 text-center py-xl-3" style="margin: 150px 0">
                    <h3 style="color: #fff">GAUTENG EDUCATION</h3>
                    <h1 style="color: #fff">SGB Management System</h1>
                    <p class="lead" style="color: #fff">Praesent non congue elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare at felis sed mattis. Aenean euismod efficitur mattis. Nam non commodo leo. Fusce at quam rhoncus, euismod quam a, dictum risus. Aliquam pulvinar purus lacinia, lobortis turpis in, malesuada magna. Praesent gravida ex vel porta malesuada. Praesent quis orci maximus, iaculis ligula id, placerat enim. Vestibulum ac bibendum libero.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid" style="padding: 0 15%">
        <div class="row" style="padding: 100px 0 50px 0">
            <div class="col-12">
                <span>In hac habitasse platea dictumst. Donec egestas orci quis tortor accumsan lobortis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed rhoncus, tortor quis condimentum commodo, leo dui viverra magna, in placerat justo mi eget ligula. Vestibulum vestibulum molestie viverra. Aenean ultricies posuere urna, id pretium erat fermentum sit amet. Vivamus accumsan arcu eu nunc elementum sagittis. Aliquam pellentesque porttitor sapien et fermentum. Integer eu odio efficitur, maximus lectus quis, mattis est. Vivamus ante orci, elementum quis venenatis et, ornare et augue. Praesent aliquet nulla at erat ornare, et eleifend nisi rhoncus. Sed euismod blandit turpis, a euismod tortor. Sed in enim ac purus tristique malesuada aliquam quis eros. Etiam ullamcorper quam in nisl pretium placerat. Donec quis egestas justo, quis tincidunt urna. Vestibulum porta eget felis vitae aliquet.

Praesent non congue elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare at felis sed mattis. Aenean euismod efficitur mattis. Nam non commodo leo. Fusce at quam rhoncus, euismod quam a, dictum risus. Aliquam pulvinar purus lacinia, lobortis turpis in, malesuada magna. Praesent gravida ex vel porta malesuada. Praesent quis orci maximus, iaculis ligula id, placerat enim. Vestibulum ac bibendum libero.</span>
            </div>
        </div>
        <div class="row" style="padding: 50px 0">
            <div class="col-3">
                <div class="card">
                    <img src="../assets/images/homepage/img-homepage-6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus metus sapien, molestie commodo urna lobortis sit amet. Suspendisse quis pulvinar erat. Suspendisse tincidunt non lorem eget blandit. Maecenas vehicula odio in vehicula tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="../assets/images/homepage/img-homepage-8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus metus sapien, molestie commodo urna lobortis sit amet. Suspendisse quis pulvinar erat. Suspendisse tincidunt non lorem eget blandit. Maecenas vehicula odio in vehicula tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="../assets/images/homepage/img-homepage-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus metus sapien, molestie commodo urna lobortis sit amet. Suspendisse quis pulvinar erat. Suspendisse tincidunt non lorem eget blandit. Maecenas vehicula odio in vehicula tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <img src="../assets/images/homepage/img-homepage-4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Item Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus metus sapien, molestie commodo urna lobortis sit amet. Suspendisse quis pulvinar erat. Suspendisse tincidunt non lorem eget blandit. Maecenas vehicula odio in vehicula tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>