<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Meetings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Meetings Table</li>
  </ol>
</nav>


<h4 class="card-title text-primary">Meetings</h4>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <!-- Button trigger modal -->
        <a type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#electionModal">
          SCHEDULE MEETING
        </a>
        <!-- Modal -->
        <div class="modal fade" id="electionModal" tabindex="-1" aria-labelledby="electionModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="electionModalLabel">Schedule a meeting</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="disabledTextInput" class="form-label">Title</label>
                      <input type="text" id="electionName" class="form-control" placeholder="Disatingled input">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="disabledTextInput" class="form-label">Start Date</label>
                      <input type="date" id="electionTitle" class="form-control" placeholder="Disabled input">
                    </div>
                    <div class="col-md-6">
                      <label for="disabledTextInput" class="form-label">Start Time</label>
                      <input type="time" id="electionTitle" class="form-control" placeholder="Disabled input">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="disabledTextInput" class="form-label">End Date</label>
                      <input type="date" id="electionDistrict" class="form-control" placeholder="Disabled input">
                    </div>
                    <div class="col-md-6">
                      <label for="disabledTextInput" class="form-label">End Time</label>
                      <input type="time" id="electionSchoolName" class="form-control" placeholder="Disabled input">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="disabledTextInput" class="form-label">Attendies</label>
                      <input type="text" id="electionStartDate" class="form-control" placeholder="Disabled input">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="disabledTextInput" class="form-label">Venue</label>
                      <input type="text" id="electionTransactionDateAndTime" class="form-control"
                        placeholder="Disabled input">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="disabledTextInput" class="form-label">Title</label>
                      <textarea type="textarea" id="electionTransactionDateAndTime" class="form-control" rows="4"
                        cols="50">
                            </textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="disabledTextInput" class="form-label">Attach File(s)</label>
                      <input type="file" id="electionTransactionDateAndTime" class="form-control"
                        placeholder="Disabled input">
                    </div>
                  </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>Scheduled By</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody >
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>

              </td>
              <!-- <tr *ngFor="let meeting of meetings; let i = index">
                <td>{{meeting.title}}</td>
                <td>{{meeting.startDate}}</td>
                <td>{{meeting.startTime}}</td>
                <td>{{meeting.scheduledBy}}</td>
                <td>
                  <a><i class="mdi mdi-eye" (click)="view(i)"></i></a>
                  &nbsp;&nbsp;
                  <a><i class="mdi mdi-pencil text-dark" (click)="edit(i)"></i></a>
                </td>
              </tr> -->
            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
