<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row justify-content-center">
          <div class="col-md-8 pl-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <img src="../assets/images/DepartmentEducationLogo.png " >
              <h5 class="text-muted font-weight-normal mb-4 text-center">Official Details</h5>
              <p class="text-center">Please enter your Persal number below</p>
              <p class="text-center">to verify your identity</p>
              <br>
              <form class="forms-sample" [formGroup]="form">
                <div class="form-group">
                  <label for="exampleInputEmail1">Persal Number</label>
                  <input type="text" formControlName="persalnumber" placeholder="Type here" required class="form-control" id="persalnumber" >
                  <div *ngIf="error" class="error_text">
                    <p class="text-danger">Invalid Persal number please try again</p>
                  </div>
                  <label for="Password">Password</label>
                  <input type="password" formControlName="password" placeholder="Type here" required class="form-control" id="password" >
                  <div *ngIf="passworderror" class="error_text">
                    <p class="text-danger">Password must be minimum of 8 characters.</p>
                  </div>

                  <label for="confirmPassword">Confirm Password</label>
                  <input type="password" formControlName="confirmpassword" placeholder="Type here" required class="form-control" id="confirmpassword" >
                  <div *ngIf="confirmerror" class="error_text">
                    <p class="text-danger">Password and Confirm Password must be match.</p>
                  </div>

                </div>
                <div class="row justify-content-center">
                  <div class="col-md-4">
                    <!-- <button type="submit" class="btn btn-primary" >Submit</button> -->
                    <input type="button" (click)="getOtp()" class="btn btn-primary" value="Submit"/>
                  </div>
                  <div class="col-4">
                    <!-- <button class="btn btn-danger" (click)="election($event)">Cancel</button> -->
                    <input type="button" (click)="cancel()" class="btn btn-danger" value="Cancel"/>
                  </div>

                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
