<nav class="navbar">
  <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">

  </a>

</nav>


<nav class="sidebar">
  <div class="sidebar-header">

    <!--- Logo -->
    <a routerLink="/" class="sidebar-brand">
      <img src="../assets/images/DepartmentEducationLogo.png ">
    </a>


  </div>
</nav>


<h4 class="card-title text-primary htitle">Election Nomination</h4>

<form #nomineeform="ngForm" (ngSubmit)="onSubmit(nomineeform)" novalidate>

  <div class="row hform">
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">PROPOSE A NOMINATION</h6>
          <p class="mb-3">Please select a parent that you would like to nominate</p>
          <form>
            <div class="row form-group">
              <div class="form-group">

                <div *ngIf="nominations?.length == 0">
                  There are no records to display
                </div>

                <div class="form-check" *ngFor="let parent of nominations; let i = index">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" [checked]="parent != null" (change)="confirmBox(parent.name)" [(ngModel)]="selectedNominee" name="proposed" id="proposed">
                    <i class="input-frame"></i>
                    {{parent.firstName}} {{parent.lastName}}
                  </label>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">SECOND A NOMINATION</h6>
          <p class="mb-3">Please select proposed candidates whom you would like to second</p>
          <form>
            <div class="row form-group">
              <div class="form-group">

                <div *ngIf="seconded?.length == 0">
                  There are no records to display
                </div>

                <div class="form-check" *ngFor="let parent of seconded; let i = index">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="second" id="second">
                    <i class="input-frame"></i>
                    {{parent.firstName}} {{parent.lastName}}
                  </label>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row hbtn ml-auto mr-auto">
    <button type="submit" class="btn btn-primary">Submit</button>
    &nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-danger">Cancel</button>
  </div>

</form>
