<nav class="navbar">
  <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">

  </a>

</nav>


<nav class="sidebar">
  <div class="sidebar-header">

    <!--- Logo -->
    <a routerLink="/" class="sidebar-brand">
      <img src="../assets/images/DepartmentEducationLogo.png ">
    </a>


  </div>
</nav>


<h4 class="card-title text-primary htitle">Election Nomination</h4>

<form [formGroup]="form" (submit)="saveChanges()">

  <div class="row hform">
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">PROPOSE A NOMINATION</h6>
          <p class="mb-3">Please select a parent that you would like to nominate</p>
            <div class="row form-group">
              <div class="form-group">

                <div *ngIf="blockAArray?.length == 0">
                  There are no records to display
                </div>

                <div class="form-check" formArrayName="blockAList" *ngFor="let parent of blockA; let i = index">
                  <label class="form-check-label">
                    <!-- <input type="radio" class="form-check-input" [formControlName]="i" (change)="confirmBox(parent[i].firstName)" [(ngModel)]="selectedNominee"> -->
                    
                    <input type="radio" class="form-check-input" [value]="i" (change)="confirmBox($event)"> 
                    <i class="input-frame"></i> 
                    {{blockA[i].firstName}} {{blockA[i].lastName}}
                  </label>
                </div>

              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">SECOND A NOMINATION</h6>
           
          
          <p class="mb-3">Please select proposed candidates whom you would like to second</p>
            <div class="row form-group">
              <div class="form-group">

                <div *ngIf="blockB?.length == 0">
                  There are no records to display
                </div>

                <div class="form-check" formArrayName="blockBList" *ngFor="let parent of blockB; let i = index">
                  <label class="form-check-label">
                    <!-- <input type="radio" class="form-check-input" [formControlName]="i" (change)="confirmBox(parent[i].firstName)" [(ngModel)]="selectedNominee"> -->
                    <input type="radio" class="form-check-input" [value]="i" (change)="confirmSecondBox($event)">
                    <i class="input-frame"></i> 
                    {{blockB[i].firstName}} {{blockB[i].lastName}}
                    <div *ngIf="blockB[i].canBeSelected == true">Your nomination</div>
                  </label>
                  
                 

                </div>

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row hbtn ml-auto mr-auto">
    <button type="submit" class="btn btn-primary" (click)="saveChanges()">Save</button>
    &nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-danger" click="javascript:window.location.reload();">Reset</button>
    &nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-danger">Cancel</button>
  </div>

</form>
