<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Details</a>
    <ng-template ngbNavContent>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>History</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                <ul class="list-group list-group-flush">
                  <h6>Document History</h6>
                  <li class="list-group-item">
                      <div class="row">
                        <div class="col-sm-6">
                          06/06/2021
                        </div>
                        <div class="col-sm-6">
                          Mpho Peter
                        </div>
                      </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-6">
                        06/06/2021
                      </div>
                      <div class="col-sm-6">
                        Mpho Peter
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-6">
                        06/06/2021
                      </div>
                      <div class="col-sm-6">
                        Mpho Peter
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-6">
                        06/06/2021
                      </div>
                      <div class="col-sm-6">
                        Mpho Peter
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-6">
                        06/06/2021
                      </div>
                      <div class="col-sm-6">
                        Mpho Peter
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>